node_red/dashboards.json
[
    {
        "id": "d7ea9d85b902106b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "26a483babebb897a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b0998deacf148ab3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9e6e05d3b5b8e8e6",
        "type": "ui_group",
        "name": "Default",
        "tab": "26a483babebb897a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ea7b76549d61535",
        "type": "watch-directory",
        "z": "d7ea9d85b902106b",
        "folder": "/home/sergei/Q1-Hourly",
        "recursive": "1",
        "typeEvent": "create",
        "ignoreInitial": true,
        "ignoredFiles": "_SUCCESS | *.csv.crc",
        "ignoredFilesType": "re",
        "name": "Q1-Hourly",
        "x": 280,
        "y": 400,
        "wires": [
            [
                "f67939278653d398"
            ]
        ]
    },
    {
        "id": "7d36c1d1f7f98a87",
        "type": "debug",
        "z": "d7ea9d85b902106b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 360,
        "wires": []
    },
    {
        "id": "2b17aadf6df52ab1",
        "type": "csv",
        "z": "d7ea9d85b902106b",
        "name": "Q1-Hourly",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "id,name,noiseLevel,timeOfTheDay,latitude_poi,longitude_poi,hour(timestamp),date_format(timestamp, yyyy-MM-dd),avg(max(db))",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 650,
        "y": 400,
        "wires": [
            [
                "15fbe880eb1c02ab"
            ]
        ]
    },
    {
        "id": "f67939278653d398",
        "type": "file in",
        "z": "d7ea9d85b902106b",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 400,
        "wires": [
            [
                "2b17aadf6df52ab1"
            ]
        ]
    },
    {
        "id": "15fbe880eb1c02ab",
        "type": "function",
        "z": "d7ea9d85b902106b",
        "name": "",
        "func": "\nreturn {\n    payload: msg.payload[\"avg(max(db))\"],\n    label: [msg.payload[\"name\"], msg.payload[\"noiseLevel\"], msg.payload[\"date_format(timestamp, yyyy-MM-dd)\"]],\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 400,
        "wires": [
            [
                "7d36c1d1f7f98a87",
                "3d51bdbff93300c6"
            ]
        ]
    },
    {
        "id": "c1790a97525b0272",
        "type": "watch-directory",
        "z": "d7ea9d85b902106b",
        "folder": "/home/sergei/Q1-Daily",
        "recursive": "1",
        "typeEvent": "create",
        "ignoreInitial": true,
        "ignoredFiles": "_SUCCESS | *.csv.crc",
        "ignoredFilesType": "re",
        "name": "Q1-Daily",
        "x": 280,
        "y": 480,
        "wires": [
            [
                "8e7e4acf0b681ebd"
            ]
        ]
    },
    {
        "id": "dba60469623101f6",
        "type": "debug",
        "z": "d7ea9d85b902106b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 440,
        "wires": []
    },
    {
        "id": "1eb4c3df33585bb0",
        "type": "csv",
        "z": "d7ea9d85b902106b",
        "name": "Q1-Daily",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "id,name,noiseLevel,timeOfTheDay,latitude_poi,longitude_poi,date_format(timestamp, yyyy-MM-dd),avg(max(db))",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 640,
        "y": 480,
        "wires": [
            [
                "5910a7fb683bf0e6"
            ]
        ]
    },
    {
        "id": "8e7e4acf0b681ebd",
        "type": "file in",
        "z": "d7ea9d85b902106b",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 480,
        "wires": [
            [
                "1eb4c3df33585bb0"
            ]
        ]
    },
    {
        "id": "5910a7fb683bf0e6",
        "type": "function",
        "z": "d7ea9d85b902106b",
        "name": "",
        "func": "\nreturn {\n    payload: msg.payload[\"avg(max(db))\"],\n    label: [msg.payload[\"name\"], msg.payload[\"noiseLevel\"], msg.payload[\"date_format(timestamp, yyyy-MM-dd)\"]],\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 480,
        "wires": [
            [
                "dba60469623101f6",
                "18562f01ed4d0945"
            ]
        ]
    },
    {
        "id": "f1892ed202b4d0de",
        "type": "watch-directory",
        "z": "d7ea9d85b902106b",
        "folder": "/home/sergei/Q1-Weekly",
        "recursive": "1",
        "typeEvent": "create",
        "ignoreInitial": true,
        "ignoredFiles": "_SUCCESS | *.csv.crc",
        "ignoredFilesType": "re",
        "name": "Q1-Weekly",
        "x": 280,
        "y": 560,
        "wires": [
            [
                "4873d9afcc3df39f"
            ]
        ]
    },
    {
        "id": "79bb3a7cbee1955f",
        "type": "debug",
        "z": "d7ea9d85b902106b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 520,
        "wires": []
    },
    {
        "id": "4468b29c6b853a37",
        "type": "csv",
        "z": "d7ea9d85b902106b",
        "name": "Q1-Weekly",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "id,name,noiseLevel,timeOfTheDay,latitude_poi,longitude_poi,year(timestamp),weekofyear(timestamp),avg(max(db))",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 650,
        "y": 560,
        "wires": [
            [
                "2d98b5190acb2cbf"
            ]
        ]
    },
    {
        "id": "4873d9afcc3df39f",
        "type": "file in",
        "z": "d7ea9d85b902106b",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 560,
        "wires": [
            [
                "4468b29c6b853a37"
            ]
        ]
    },
    {
        "id": "2d98b5190acb2cbf",
        "type": "function",
        "z": "d7ea9d85b902106b",
        "name": "",
        "func": "\nreturn {\n    payload: msg.payload[\"avg(max(db))\"],\n    label: [msg.payload[\"name\"], msg.payload[\"noiseLevel\"], msg.payload[\"date_format(timestamp, yyyy-MM-dd)\"]],\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 560,
        "wires": [
            [
                "79bb3a7cbee1955f",
                "81349878fb93b356"
            ]
        ]
    },
    {
        "id": "d10b1ea24cfbd946",
        "type": "watch-directory",
        "z": "d7ea9d85b902106b",
        "folder": "/home/sergei/Q2-TopTen",
        "recursive": "1",
        "typeEvent": "create",
        "ignoreInitial": true,
        "ignoredFiles": "_SUCCESS | *.csv.crc",
        "ignoredFilesType": "re",
        "name": "Q2-TopTen",
        "x": 280,
        "y": 640,
        "wires": [
            [
                "3a1fdb544be49f90"
            ]
        ]
    },
    {
        "id": "d20302ae7ce21cbe",
        "type": "debug",
        "z": "d7ea9d85b902106b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 600,
        "wires": []
    },
    {
        "id": "9cc11fe0a15e1f1b",
        "type": "csv",
        "z": "d7ea9d85b902106b",
        "name": "Q2-TopTen",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "id,name,noiseLevel,timeOfTheDay,latitude_poi,longitude_poi,avg(max(db))",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 650,
        "y": 640,
        "wires": [
            [
                "ecedf8e4fc555bef"
            ]
        ]
    },
    {
        "id": "3a1fdb544be49f90",
        "type": "file in",
        "z": "d7ea9d85b902106b",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 640,
        "wires": [
            [
                "9cc11fe0a15e1f1b"
            ]
        ]
    },
    {
        "id": "ecedf8e4fc555bef",
        "type": "function",
        "z": "d7ea9d85b902106b",
        "name": "",
        "func": "return {\n    payload: msg.payload[\"avg(max(db))\"],\n    label: msg.payload[\"name\"]\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 640,
        "wires": [
            [
                "d20302ae7ce21cbe",
                "c8820cfe2c63e191"
            ]
        ]
    },
    {
        "id": "89acfa2e1af0b201",
        "type": "watch-directory",
        "z": "d7ea9d85b902106b",
        "folder": "/home/sergei/Q3-Exceeded",
        "recursive": "1",
        "typeEvent": "create",
        "ignoreInitial": true,
        "ignoredFiles": "_SUCCESS | *.csv.crc",
        "ignoredFilesType": "re",
        "name": "Q3-Exceeded",
        "x": 290,
        "y": 720,
        "wires": [
            [
                "7d394c7833d6334d"
            ]
        ]
    },
    {
        "id": "61e16e1a023f4e9a",
        "type": "debug",
        "z": "d7ea9d85b902106b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 680,
        "wires": []
    },
    {
        "id": "8ea44dd3a8ab2a37",
        "type": "csv",
        "z": "d7ea9d85b902106b",
        "name": "Q3-Exceeded",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "id,name,db,eventDate",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 660,
        "y": 720,
        "wires": [
            [
                "bf4f8da35b9d035f"
            ]
        ]
    },
    {
        "id": "7d394c7833d6334d",
        "type": "file in",
        "z": "d7ea9d85b902106b",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 720,
        "wires": [
            [
                "8ea44dd3a8ab2a37"
            ]
        ]
    },
    {
        "id": "bf4f8da35b9d035f",
        "type": "function",
        "z": "d7ea9d85b902106b",
        "name": "",
        "func": "\nreturn {\n    payload: msg.payload[\"db\"],\n    label: msg.payload[\"name\"],\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 720,
        "wires": [
            [
                "61e16e1a023f4e9a",
                "60e10ad83b1ace5d"
            ]
        ]
    },
    {
        "id": "3d51bdbff93300c6",
        "type": "ui_chart",
        "z": "d7ea9d85b902106b",
        "name": "Q1-Hourly",
        "group": "9e6e05d3b5b8e8e6",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Q1-Hourly",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1070,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "18562f01ed4d0945",
        "type": "ui_chart",
        "z": "d7ea9d85b902106b",
        "name": "Q1-Daily",
        "group": "9e6e05d3b5b8e8e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Q1-Daily",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1060,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "81349878fb93b356",
        "type": "ui_chart",
        "z": "d7ea9d85b902106b",
        "name": "Q1-Weekly",
        "group": "9e6e05d3b5b8e8e6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Q1-Weekly",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1070,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c8820cfe2c63e191",
        "type": "ui_chart",
        "z": "d7ea9d85b902106b",
        "name": "",
        "group": "9e6e05d3b5b8e8e6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Q2-TopTen",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1070,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "60e10ad83b1ace5d",
        "type": "ui_chart",
        "z": "d7ea9d85b902106b",
        "name": "Q3-Exceeded",
        "group": "9e6e05d3b5b8e8e6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Q3-Exceeded",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1080,
        "y": 720,
        "wires": [
            []
        ]
    }
]